body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.allergies{
    font-weight: bold;
}

button {
    margin: 10px 15px;
    text-align: center;
    border-style:hidden;
    border-radius:5%;
    padding:5px 10px;
}

button:hover {
    background-color: rgb(12, 201, 12);
    cursor:pointer;
 }

header, section {
    margin: 5px 10px;
}

section {
    border-style:dashed;
    border-radius: 20px;
    }

section > p, form {
    margin-left: 15px;
}

div {
    padding: 5px;
    margin: 50px;
}

#headpic {
    opacity: 0.8;
    width: 100%;
    height: auto;
}

header {
    height: 600px;
    overflow:hidden;
}

h1 {
    width: 97%;
    text-align: center;
    margin-top:-40%;
}

.menu {
    background-color: black;
    color: white;
}

.item {
    margin: 50px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
